{{ $pages := (partial "func-same-section" .) }}


<div
  class="flex max-md:flex-col grayDivide md:divide-x max-md:divide-y items-top justify-between [&>a]:py-2 [&>a]:pr-2"
>
  {{ with $pages.Next . }}
    <a
      class="flex flex-col items-start text-start md:w-1/2 group"
      href="{{ .Permalink }}"
    >
      <span class="secondaryColor font-bold">← Newer</span>
      <span>{{ partial "date" .Date }}</span>
      <span class="accentColor group-hover:underline"
        >{{ partial "func-cover-title" (dict "item" . ) }}</span
      >
    </a>
  {{ else }}
    <div></div>
  {{ end }}
  {{ with $pages.Prev . }}
    <a
      class="flex flex-col md:items-end md:text-end md:w-1/2 group"
      href="{{ .Permalink }}"
    >
      <span class="secondaryColor font-bold">Older →</span>
      <span>{{ partial "date" .Date }}</span>
      <span class="accentColor group-hover:underline"
        >{{ partial "func-cover-title" (dict "item" . ) }}</span
      >
    </a>
  {{ end }}
</div>
