{{ define "header" }}
  {{ partial "main-header" . }}
  {{ partial "heading" (dict "title" .Title "enableTypePath" true "ctx" .) }}
  <hr />
  <dl class="meta my-4">
    {{ with .GetTerms "tags" }}
      <div>
        <dt>Tags</dt>
        <dd>{{ range . }}{{ partial "tag" . }}{{ end }}</dd>
      </div>
    {{ end }}
    {{ with (.Param "homepage") }}
      <div>
        <dt>Homepage</dt>
        <dd><a class="out" href="{{ . }}">{{ . }}</a></dd>
      </div>
    {{ end }}

    {{ with (.Param "pixiv") }}
      <div>
        <dt>Pixiv</dt>
        <dd><a class="out" href="{{ . }}">{{ . }}</a></dd>
      </div>
    {{ end }}

    {{ with (.Param "wikipedia") }}
      <div>
        <dt>Wikipedia</dt>
        <dd><a class="out" href="{{ . }}">{{ . }}</a></dd>
      </div>
    {{ end }}

    {{ with (.Param "gitlab") }}
      <div>
        <dt>Gitlab</dt>
        <dd><a class="out" href="{{ . }}">{{ . }}</a></dd>
      </div>
    {{ end }}

    {{ with (.Param "github") }}
      <div>
        <dt>Github</dt>
        <dd><a class="out" href="{{ . }}">{{ . }}</a></dd>
      </div>
    {{ end }}

    {{ with (.Param "sourcehut") }}
      <div>
        <dt>Sourcehut</dt>
        <dd><a class="out" href="{{ . }}">{{ . }}</a></dd>
      </div>
    {{ end }}
  </dl>
{{ end }}

{{ define "main" }}
  <article class="mt-8">
    {{ if .Params.toc }}
      {{ partial "toc" . }}
    {{ end }}
    {{ partial "content" . }}
  </article>
{{ end }}

{{ define "footer" }}
  <div class="mt-4 mb-40">
    <hr />
    {{ partial "post-navigation" . }}
    {{ partial "default-footer" . }}
  </div>
{{ end }}
