root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.pp]
file_type_emacs = pollen

# JSON-like formatting works better
[index.ptree]
file_type_emacs = javascript

[*.css.pp]
file_type_emacs = css
