!/static/
*#
*.cache
*.html
*.swp
*.xml
*.zip
*.rktd
*~
.#*
.cask/
pollen-cache
category/
category/*.pm
compiled
/static/css/main.css
public
sitemap.txt
static/external/
tags/*

about.html.pm
index.html.pm
covers.html.pm
projects.html.pm

projects/ox-pollen.html.pm

# Posts that have been converted into Org
/blog/2017-11-14*.html.pm
/blog/2017-11-26-east-asian-names-reverse-or-not.html.pm
/blog/2017-12-05-hanezeve-caradhina-day1.html.pm
/blog/2017-12-06-grammar-zela-halalelu-day2.html.pm
/blog/2017-12-08-hanezeve-day-3-4.html.pm
/blog/2017-12-22*.html.pm
/blog/2018-01-07*.html.pm
/blog/2018-01-15*.html.pm
/blog/2018-03-11-hanezeve-final.html.pm
/blog/2018-04-08-2fa-introduction.html.pm
/blog/2018-05-11-utau-tuning-experiment.html.pm
/blog/2018-07-27-utau-tip-labels.html.pm
/blog/2018-09-20*.html.pm
/blog/2019-04-13*.html.pm
/blog/2019-05-15*.html.pm
/blog/2019-05-16-emacs-profiler-width.html.pm
/blog/2019-09-24-qr-codes-from-emacs.html.pm
/blog/2019-10-09-format-time-string-today.html.pm
/blog/2019-12-16*.html.pm
/blog/2020-02-16-slack-export-to-org.html.pm
/blog/2020-10-25*.html.pm
/blog/2020-10-31*.html.pm
/blog/2020-12-16-2020-review.html.pm
illust.html.pm
language-learning-roadmap.html.pm
projects/canrylog.html.pm
projects/dired-show-readme.html.pm
projects/ust-mode.html.pm
skills.html.pm
