!/static/
*#
*cache
*.swp
*.zip
*.rktd
*~
.#*
.cask/
pollen-cache
compiled
public
sitemap.txt
/static/external/
/static/js/*.min.js
tags/*
node_modules
*.map
.log
.hugo_build.lock
hugo_stats.json
/resources/_gen
