staticDir: static
layoutDir: templates

hasCJKLanguage: true

# Let's say it's 2021-05-25T00:30:00+0900 right now, and I have a new
# page dated 2021-05-25. Hugo will consider that moment as being in
# the future; it seems to assume the date to be UTC
# (2021-05-25T00:00:00Z, or 2021-05-25T09:00:00+0900) as the it
# contains no timezone offset.
#
# If I don't want something to show, I'll mark it as Draft myself.
buildFuture: true

ignoreFiles:
  - README\.md$
  - readme\.md$
  - README\.org$
  - readme\.org$

markup:
  goldmark:
    renderer:
      unsafe: true
  highlight:
    lineNos: true

# We need this to use CSS to style syntax highlighting
pygmentsUseClasses: true

uglyurls: true

baseURL: https://kisaragi-hiu.com

frontmatter:
  # publishDate is used to determine if a page is from the future.
  # date is used for default sorting.
  # https://stackoverflow.com/a/59760977/6927814
  #
  # As I have turned on buildFuture (see above), publishDate is not relevant.
  date: ["created", "date", "published"]
  lastmod: ["updated"]
  expiryDate: ["expiryDate"]

enableGitInfo: true

taxonomies:
  series: series
  tag: tags
  language: language
  archive: archive

title: Kisaragi Hiu
