<div class="mt-4 mb-10 text-center prose">
  <p class="text-xs">
    Content is CC-BY-SA 4.0;
    <a href="https://github.com/kisaragi-hiu/kisaragi-hiu.com">code</a> in MIT.
    <a
      class="link"
      href="https://github.com/kisaragi-hiu/kisaragi-hiu.com/blob/source/LICENSE.md"
      >Terms</a
    >.
  </p>
  <p class="text-xs">
    If you like this, please consider
    <a href="https://www.buymeacoffee.com/kisaragihiu">buying a meal for me</a>
    to keep both me and this site alive. Thank you.
  </p>
</div>
