<!-- prettier-ignore -->
{{ $item := .item }}
{{ $title := "" }}
{{ $mark := .mark }}
{{ $section := (or $item.Section "blog") }}
<!-- prettier-ignore -->
{{ if eq $section "covers" }}
  {{ $title = (printf "%s ft. %s" $item.LinkTitle $item.Params.voice) }}
{{ else }}
  {{ $title = $item.LinkTitle }}
{{ end }}
{{ with $mark }}
  {{ if (not (intersect (slice "blog" "translated") (slice $section))) }}
    {{ $title = (printf "%s: %s"
                        (index (site).Data.names.sections $section)
                        $title) }}
  {{ end }}
{{ end }}
{{ return $title }}
