<h1 class="xl">
    {{ if $.Scratch.Get "titlecase" }}
    {{ (title .Title) }}
    {{ else }}
    {{ .Title }}
    {{ end }}
</h1>
{{ with .Params.homepage }}
    <a class="card out" href="{{.}}">Homepage</a>
{{end}}
{{ with .Params.wikipedia }}
    <a class="card out" href="{{.}}">Wikipedia</a>
{{end}}
{{ with .Params.gitlab }}
    <a class="card out" href="{{.}}">GitLab</a>
{{end}}
{{ with .Params.github }}
    <a class="card out" href="{{.}}">GitHub</a>
{{end}}
{{ with .Params.sourcehut }}
    <a class="card out" href="{{.}}">sourcehut</a>
{{end}}
