<!-- Index item:
   - Publish date
   - Update date(?)
   - series(?)
   - Tags
   - Title (link)-->

<div
  class="
    flex flex-col
    gap-y-2
    hover:bg-accent-light
    transition
    duration-100
    ease-in-out
    rounded
    p-4
    -ml-4
  "
>
  <a href="{{ .Permalink }}">
    <div>
      <div class="font-bold">{{.Title}}</div>
      <div class="font-mono">{{ partial "date" .Date }}</div>
    </div>
  </a>
  <!-- prettier-ignore -->
  {{ with (index (partial "func-page-term" (dict "page" . "taxonomy" "series"))
                 0) }}
  <a class="series" href="{{.Permalink}}">{{.LinkTitle}}</a>
  {{ end }}
  <ul class="tags-inline">
    {{ range (partial "func-page-term" (dict "page" . "taxonomy" "tags")) }}
    <li>{{ partial "tag" . }}</li>
    {{ end }}
  </ul>
</div>
