<!-- Index item:
   - Publish date
   - Update date(?)
   - series(?)
   - Tags
   - Title (link)-->
<a class="index-item" href="{{ .Permalink }}">
  <div
    class="
      hover:bg-special-light
      transition
      duration-100
      ease-in-out
      rounded-lg
      flex flex-col-reverse
      items-start
      md:items-center md:flex-row
    "
  >
    <div class="my-0">
      <!-- Ideally we want to show both creation and modification times. -->
      {{ with .Params.created }} {{ partial "date" . }} {{ end }}
    </div>
    <h2 class="m-0 font-normal text-lg">{{ .Title }}</h2>
  </div>
</a>
