<dl class="meta">
  <!-- prettier-ignore -->
  {{ with (.Param "homepage") }}
  <div>
    <dt>Homepage</dt>
    <dd><a class="out" href="{{.}}">{{.}}</a></dd>
  </div>
  {{ end }}

  <!-- prettier-ignore -->
  {{ with (.Param "pixiv") }}
  <div>
    <dt>Pixiv</dt>
    <dd><a class="out" href="{{.}}">Pixiv</a></dd>
  </div>
  {{ end }}

  <!-- prettier-ignore -->
  {{ with (.Param "wikipedia") }}
  <div>
    <dt>Wikipedia</dt>
    <dd><a class="out" href="{{.}}">Wikipedia</a></dd>
  </div>
  {{ end }}

  <!-- prettier-ignore -->
  {{ with (.Param "gitlab") }}
  <div>
    <dt>Gitlab</dt>
    <dd><a class="out" href="{{.}}">Gitlab</a></dd>
  </div>
  {{ end }}

  <!-- prettier-ignore -->
  {{ with (.Param "github") }}
  <div>
    <dt>Github</dt>
    <dd><a class="out" href="{{.}}">Github</a></dd>
  </div>
  {{ end }}

  <!-- prettier-ignore -->
  {{ with (.Param "sourcehut") }}
  <div>
    <dt>Sourcehut</dt>
    <dd><a class="out" href="{{.}}">Sourcehut</a></dd>
  </div>
  {{ end }}
</dl>
