<header class="heading">
    <div class="baseline list">
        {{ with .Date }}
        {{ partial "date" . }}
        {{ end }}
        {{ range .GetTerms "category" }}
        <p class="category">
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        </p>
        {{ end }}
    </div>
    <h1 class="xl margin-top-none">{{ .Title }}</h1>
    {{ with .GetTerms "tags" }}
    <div class="margin-none list">
        {{ range $index, $value := . }}
        <a class="card tag" href="{{ .Permalink }}">{{ .LinkTitle | lower }}</a>
        {{ end }}
    </div>
    {{ end }}
</header>
