<header class="heading">
  {{ partial "heading" .Title }}
  {{ with .Param "subtitle" }}
  <h2 class="mt-0 mb-8">{{.}}</h2>
  {{ end }}
  <hr />
  <dl class="meta">
    {{ with .Date }}
    <div>
      <dt>{{ partial "func-translate" (dict "id" "Published" "page" $)}}</dt>
      <dd>{{ partial "date" . }}</dd>
    </div>
    {{ end }}
    <!-- prettier-ignore -->
    {{ with .Lastmod }}
    <div>
    <dt>
      <!-- If old versions are available, link there. -->
      {{ with $.GetPage (printf "/archive/%s" $.File.BaseFileName) }}
      <a title="View revision history" class="out" href="{{.Permalink}}"
        >Updated</a
      >
      {{ else }}
      <span>Updated</span>
      <!-- with $.GetPage -->
      {{ end }}
    </dt>
    <dd>{{ partial "date" . }}</dd>
    </div>
    {{ end }}
    <!-- {{ with .Params.certainty }}
             <dt>Certainty</dt><dd>{{.}}</dd>
             {{ end }} -->
    {{ range .GetTerms "series" }}
    <div>
    <dt>Series</dt>
    <dd><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></dd>
    </div>
    {{ end }}
  </dl>
  <!-- prettier-ignore -->
  {{ with .GetTerms "tags" }}
  {{ partial "tags-block" . }}
  {{ end }}
</header>
