<ul class="p-0 list-none flex flex-col gap-4">
  {{ range . }}
  <li class="rounded transition duration-100">
    <a
      class="text-primary item pr-2 h-full flex gap-x-2 items-start hover:no-underline"
      href="{{.Permalink}}"
    >
      <!-- Left part: the image -->
      <div class="w-24">
        <img class="object-cover min-w-full max-h-full" src="{{ or
        .Params.coverimage "/illust/thumb/2021-06-11.jpg" }}" />
      </div>
      <!-- Right part: title and metadata -->
      <div class="grow">
        <div class="font-bold">{{.LinkTitle}}</div>
        <div>{{ partial "date" .Date }}</div>
        {{ with .GetTerms "tags" }}
        <ul class="flex flex-wrap leading-loose m-0 gap-x-2">
          {{ range . }}
          <li class="tag">{{ .LinkTitle | lower }}</li>
          {{ end }}
        </ul>
        {{ end }}
        <!-- prettier-ignore -->
        {{ with .Params.status }}
        <p>Status: {{.}}</p>
        {{ end }}
      </div>
    </a>
  </li>
  {{ end }}
</ul>
