<script src="/js/search.js"></script>

{{ define "partials/inline/button-checkbox" }}
  <!-- prettier-ignore -->
  {{ $label := .value }}
{{ $partial := .partial }}
{{ $dict := .dict }}
{{ $type := .type }}
  <div class="inline-block">
    <input
      class="peer hidden"
      type="checkbox"
      data-filter="{{ jsonify . }}"
      id="{{ $type }}:{{ $label }}"
      name="{{ $type }}:{{ $label }}"
      onchange="updateSearch()"
    />
    <label
      class="hover:bg-accent-light bg-white dark:bg-black border-accent-strong border px-1 peer-checked:bg-accent-light peer-checked:outline-8"
      for="{{ $type }}:{{ $label }}"
    >
      <!-- prettier-ignore -->
      {{ if $partial }}
    {{ partial $partial $label }}
    {{ else if $dict }}
    {{ (or (index $dict $label) $label) }}
    {{ else }}
    {{ $label }}
    {{ end }}
    </label>
  </div>
{{ end }}


<!-- outer div in relative to create a context for the absolute-positioned svg

     A lot of this concept is copied from https://www.swyx.io/ideas/ -->
<div class="flex space-x-2 items-center">
  <div class="relative w-full">
    {{ partial "searchbox" . }}
  </div>
  <div class="relative">
    <!-- prettier-ignore -->
    {{ $sections := (slice) }}
  {{ range . }}
      {{ with .Section }}
        {{ $sections = (union $sections (slice .)) }}
      {{ end }}
    {{ end }}
  {{ $languages := (slice) }}
  {{ range . }}
      {{ with .Params.language }}
        {{ $languages = (union $languages (slice .)) }}
      {{ end }}
    {{ end }}
  {{ if (or (gt (len $languages) 1) (gt (len $sections) 1)) }}
      <div
        id="filters"
        class="dropdown dropdown-end items-start flex space-x-2 my-2"
      >
        <label tabindex="0" class="k-btn flex items-center space-x-2 h-10">
          <span>{{ partial "ionicons-filter" "h-5 w-5" }}</span>
          <span>Filter</span>
        </label>
        <div
          tabindex="0"
          class="dropdown-content space-y-2 bg-white dark:bg-zinc-900 p-4 shadow w-64"
        >
          {{ if (gt (len $languages) 1) }}
            <div>
              <div>Language:</div>
              {{ range $languages }}
                <!-- prettier-ignore -->
                {{ partial "inline/button-checkbox"
                   (dict "value" .
                         "dict" (site).Data.names.lc
                         "type" "language") }}
              {{ end }}
            </div>
          {{ end }}
          {{ if (gt (len $sections) 1) }}
            <div>
              <div>Type:</div>
              {{ range $sections }}
                <!-- prettier-ignore -->
                {{ partial "inline/button-checkbox"
                   (dict "value" .
                         "dict" (site).Data.names.sections
                         "type" "section") }}
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</div>

<ul id="posts" class="mt-4 flex flex-col space-y-2">
  <!-- prettier-ignore -->
  {{ range . }}
  {{ if not (.Param "special") }}
  <!-- Non special single pages are just normal blog posts -->
  {{ $extra_params := (dict "section" (or .Section "blog"))}}
  <li data-params="{{ jsonify (merge .Params $extra_params) }}">
    <a href="{{.Permalink}}">{{ partial "cover-item" (dict "item" . ) }}</a>
  </li>
  <!-- prettier-ignore -->
  {{ end }}
  {{ end }}
</ul>
