{{ define "main" }}

<!-- We assume that the filenaame is the publish date. -->

<figure class="illust">
  <img
    src="/illust/{{ .File.BaseFileName }}.jpg"
    {{
    with
    .Params.alt
    }}
    alt="{{.}}"
    {{end}}
    title="{{ .Title }}"
  />
  <figcaption>
    {{ partial "type-path" . }}
    <h1 class="xl">{{ .Title }}</h1>
    {{ partial "param-links" . }}
    {{ with .GetTerms "tags" }}
      {{ partial "tags" . }}
    {{ end }}
    <dl class="meta">
      <dt>Published</dt>
      <dd>{{ .Params.date.Format "2006-01-02" }}</dd>
    </dl>
  </figcaption>
</figure>
{{ partial "content" . }}

{{ if .Params.toc }} {{ partial "toc" . }} {{ end }} {{ end }}
