@import "variables";

.card {
  background-color: $color-special;
  color: $color-special-strong;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.out {
  color: inherit;
  &::after {
    content: "°";
  }
}
