@import "variables";

.cover-embed-list {
  display: flex;
  iframe {
    margin-right: 1rem;
  }
}

.cover .title {
  font-weight: 700;
}

.cover li {
  list-style: none;
}

.cover .row {
  display: flex;
  :nth-child(1) {
    min-width: 8rem;
  }
  :nth-child(2) {
    width: 22rem;
  }
  :nth-child(3) {
    min-width: 10rem;
  }
  :nth-child(4) {
    min-width: 10rem;
  }
  @media (max-width: $width-phone) {
    flex-direction: column;
    margin-bottom: 1rem;
    :nth-child(1) {
      order: 2;
      font-family: unset;
    }
    :nth-child(3) {
      display: none;
    }
  }
  @media (max-width: $width-phablet) {
    :nth-child(4) {
      display: none;
    }
  }
}

@media (max-width: $width-phone) {
  .cover .row.title {
    display: none;
  }
}
