@import "variables";

// Figure in single page
figure.illust {
  margin: 3rem 0 2rem 0;
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-gap: 2rem;
  img {
    grid-column: 1/1;
    grid-row: 1/1;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
  figcaption {
    grid-column: 2/2;
    grid-row: 1/1;
  }
  h1 {
    margin-top: 0;
  }
  @media (max-width: $width-phablet) {
    grid-template-columns: 1fr;
    img {
      grid-column: 1/1;
      grid-row: 1/1;
    }
    figcaption {
      grid-column: 1/1;
      grid-row: 2/2;
    }
    // img {
    //   float: none;
    //   margin: 1rem 0;
    //   max-width: 100%;
    // }
  }
}

// "Index", or the grid display
ul.illust-index {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  li {
    padding: 0;
    list-style: none;
  }
  .item {
    margin-right: 1rem;
    transition: all 100ms ease-in-out;
    img:hover {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }
    img {
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
      max-height: 6rem;
      max-width: 6rem;
    }
  }
}
