figure.illust {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 80%;
  grid-gap: 1rem;
  img {
    grid-column: 2/2;
    box-shadow: 0 0 2rem #00000070;
  }
  figcaption {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  h1 {
    margin-top: 0;
  }
}
