@import "variables";

// Figure in single page
figure.illust {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  img {
    grid-column: 2/2;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
  figcaption {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  h1 {
    margin-top: 0;
  }
}

// "Index", or the grid display
ul.illust-index {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  li {
    padding: 0;
    list-style: none;
  }
  .item {
    margin-right: 1rem;
    transition: all 100ms ease-in-out;
    img:hover {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }
    img {
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
      max-height: 6rem;
      max-width: 6rem;
    }
  }
}
