@import "variables";

div.index {
  overflow-x: auto;
  & > table {
    text-align: left;
    border-collapse: collapse;
    @media (max-width: $width-phablet) {
      tr {
        border-bottom: 1px solid #000000;
      }
      tr:last-child {
        border-bottom: none;
      }
    }
    th,
    td {
      padding: 0.25rem 0;
      // We can't use margin here for whatever reason; this accomplishes
      // the same thing.
      padding-right: 1rem;
    }
  }
}

ul.index {
  padding: 0;
  li {
    padding: 0;
    list-style: none;
  }
  .item:hover {
    text-decoration: none;
  }
  .item {
    color: $color-primary;
    > div:hover {
      background-color: $color-special-light;
    }
    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: all 100ms ease-in-out;
      padding: 0.5rem; // extend the background highlight on hover
      margin-left: -0.5rem; // counter the left padding
      border-radius: 0.5rem;
      @media (max-width: $width-phablet) {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
    }
    .date {
      font-family: $monospace;
      @media (max-width: $width-phablet) {
        font-family: unset;
      }
    }
    .date {
      font-size: $font-size-main;
      display: inline-block;
      color: $color-secondary;
      margin: 0 0.5em 0 0;
    }
    h2 {
      margin: 0;
      font-weight: 400;
    }
  }
}
