@import "variables";

.heading {
  h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
  }
  .type-path + h1 {
    margin-top: 0;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .meta {
    // This ensures a layout like
    //   dd1   dd2   dd3   dd4
    //    dt1   dt2   dt3   dt4
    // Without having to change markup.
    font-size: $font-size-s;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    width: max-content;
    column-gap: 1rem;
    dt {
      grid-row: 1/1;
    }
    dd {
      grid-row: 2/2;
    }
  }
}
