$cjk-fallback: "Noto Sans CJK TC", "Microsoft Jhenghei", "Microsoft Yahei",
  "Meiryo", "Malgun Gothic";

$sans-serif: "Inter", $cjk-fallback, sans-serif;

$title-sans-serif: $sans-serif;
$monospace: "Overpass Mono", "Noto Sans Mono CJK", $cjk-fallback, monospace;

$color-primary: #0d0d0d;
$color-secondary: #333;
$color-accent: #cdadff; // Light purple
$color-accent-strong: #4d2b82; // Dark purple
$color-special: #cdecff; // Light blue
$color-special-light: #cdecff50; // Light blue
$color-special-strong: #246084; // Dark blue

$font-size-s: 12pt;
$font-size-main: 14pt;
$font-size-l: 16pt;
$font-size-xl: 24pt;
