$cjk-fallback: "Noto Sans CJK TC", "Microsoft Jhenghei", "Microsoft Yahei",
  "Meiryo", "Malgun Gothic";

$sans-serif: "Inter", $cjk-fallback, sans-serif;

$title-sans-serif: $sans-serif;
$monospace: "Overpass Mono", "Noto Sans Mono CJK", $cjk-fallback, monospace;

$color-primary: #0d0d0d;
$color-secondary: #333;
$color-accent: #cdadff; // Light purple
$color-special: #cdecff; // Light blue
// $color-special: #f7dfee;
// $color-special: #e7def4; // Light purple

// current light blue: #cdecff = 203, 100%, +40% (Gpick HSL)
// Old palette from 61de906fda4810a30fdc19f6a520aaddc7463234
// old light blue: #ade0ff = 203, 100%, +33%
// old pink: #ffade0 = 323, 100%, +33%
// So new pink should be 323, 100%, +40% = roughly #ffccec

$font-size-s: 12pt;
$font-size-main: 14pt;
$font-size-l: 16pt;
$font-size-xl: 24pt;
$font-size-xxl: 36pt;

// Max widths.
$width-tablet: 1200px;
// 死語ですね。
$width-phablet: 800px;
$width-phone: 500px;
