<!-- project <url> <title> [melpa-badge]; outputs org -->
<!-- We have to initiate variables outside of the if block, otherwise they'll be scoped inside of the block. -->
{{ $title := "" }}
{{ $url := "" }}
{{ if .IsNamedParams }}
  {{ $url = (.Get "url") }}
  {{ $title = (.Get "title") }}
{{ else }}
  {{ $url = (.Get 0) }}
  {{ $title = (.Get 1) }}
{{ end }}

#+begin_export html
<div class="project" id="{{ $title }}">
    <h2>
        <a class="project-title" href="{{ $url }}">{{ $title }}</a>
        {{ with (.Get "melpa-badge") }}{{ partial "melpa-badge" . }}{{ end }}
    </h2>
#+end_export
  {{ .Inner }}
#+html: </div>
