<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }} | Kisaragi Hiu</title>
    <meta name="description" content="">
    <meta name="author" content="Kisaragi Hiu">
    <meta name="keywords" content="Coding, Programming, Language, LGBT, Blog">
    <link rel="icon" href="/favicon.ico">
    <link rel="canonical" href="(abs-global here)">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Overpass+Mono&display=swap" rel="stylesheet">
    <!-- Fathom Analytics -->
    <script>
let dnt = navigator.doNotTrack || navigator.msDoNotTrack || null;
if (dnt !== "yes" && dnt !== "1") {
  (function (f, a, t, h, o, m) {
    a[h] =
      a[h] ||
      function () {
        (a[h].q = a[h].q || []).push(arguments);
      };
    (o = f.createElement("script")),
      (m = f.getElementsByTagName("script")[0]);
    o.async = 1;
    o.src = t;
    o.id = "fathom-script";
    m.parentNode.insertBefore(o, m);
  })(document, window, "//fathom.kisaragi-hiu.com/tracker.js", "fathom");
  fathom("set", "siteId", "FYSHR");
  fathom("trackPageview");
}
    </script>
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Atom Feed">
  </head>
  <body>
    <!-- Header -->
    <header id="siteheader">
      <a href="/" id="logo">
        <h1><img src="/avatar.png" alt="Kisaragi Hiu"/>Kisaragi&nbsp;Hiu</h1>
      </a>
      <nav>
        <a href="/">Blog</a>
        <a href="/projects">Projects</a>
        <a href="/about">About</a>
      </nav>
    </header>

    <!-- Contents -->
    <div id="content">
        {{ if (eq .Type "blog") }}
        {{ partial "post-heading" . }}
        {{ end }}
        {{ block "main" . }}
        {{ end }}
        <!-- ◊; show heading for posts
             ◊"◊"(when/splice (string=? (post-type here) "post")
             (to-html (post-heading here)))
             ◊; show toc if it exists
             ◊"◊"(when/splice (select-from-metas 'toc metas)
             (to-html (toc here)))
             ◊; actual content
             ◊"◊"(to-html doc) -->
    </div>

    <!-- Footer -->
    <footer id="sitefooter">
      <div id="footer-sep">・・・</div>
      <div id="sitefooter-content">
        <p>© Kisaragi Hiu 2017~2021.</p>
        <p>
          Content in CC-BY-SA 4.0 International; code in MIT. See <a rel="license" href="https://github.com/kisaragi-hiu/kisaragi-hiu.com/blob/source/LICENSE.md">LICENSE</a> for details.<br>
          Source code is hosted <a href="https://github.com/kisaragi-hiu/kisaragi-hiu.com">on GitHub</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
