{{ define "title" }}
{{ .Title }} ft. {{ .Params.voice }} - Covers - Kisaragi Hiu
{{ end }}

{{ define "header" }}
{{ partial "avatar" }}
{{ partial "type-path" . }}
{{ partial "heading" (printf "%s ft. %s" .Title .Params.voice)}}
<hr>
<dl class="meta">
  {{ with .Date }}
    <div>
        <dt>Published</dt>
        <dd>{{ partial "date" . }}</dd>
    </div>
  {{ end }}
  {{ with .GetTerms "tags" }}
    <div>
        <dt>Tags</dt>
        <dd>{{ partial "tags-block" . }}</dd>
    </div>
  {{ end }}
    <div>
        <dt>Original</dt>
        <dd><a href="{{ .Params.original }}">{{ .Params.origauthor }}</a></dd>
    </div>
</dl>
{{ end }}

{{ define "main" }}

<!-- prettier-ignore -->
{{ if .Params.toc }}
{{ partial "toc" . }}
{{ end }}

<div class="flex gap-x-4">
  <!-- prettier-ignore -->
  {{ with .Params.youtube }}
  {{ partial "youtube" . }}
  {{ end }}

  <!-- prettier-ignore -->
  {{ with .Params.niconico }}
  {{ partial "niconico" . }}
  {{ end }}
</div>

<!-- prettier-ignore -->
{{ partial "content" . }}
{{ end }}

{{ define "footer" }}
<div class="mb-64">
  {{ partial "default-footer" . }} {{ partial "post-navigation" . }}
</div>
{{ end }}
