{{ define "title" }}
  {{ .Title }} ft. {{ .Params.voice }} - Covers - Kisaragi Hiu
{{ end }}

{{ define "header" }}
  {{ partial "main-header" . }}
  {{ partial "heading"
    (dict "title" (partial "func-cover-title" (dict "item" .))
    "enableTypePath" true
    "ctx" .)
  }}
{{ end }}

{{ define "main" }}

  {{ if .Params.toc }}
    {{ partial "toc" . }}
  {{ end }}


  <div class="max-lg:space-y-4 lg:space-x-4 lg:flex">
    {{ with .Params.youtube }}
      {{ partial "youtube" . }}
    {{ end }}

    {{ with .Params.niconico }}
      {{ partial "niconico" . }}
    {{ end }}
  </div>

  {{ partial "content" . }}
{{ end }}

{{ define "footer" }}
  <div class="mt-4 mb-40">
    <hr />
    {{ partial "metas" . }}
    {{ partial "post-navigation" . }}
    {{ partial "default-footer" . }}
  </div>
{{ end }}
