<!DOCTYPE html>
<html lang="{{or .Params.language .Lang}}">
  <head>
    {{ partial "head" . }}
    <link
      rel="alternate"
      type="application/atom+xml"
      href="/feed.xml"
      title="Atom Feed"
    />
  </head>
  <body>
    <div class="outer">
      <!-- Header -->
      <header>
        {{ block "header" . }} {{ partial "avatar" .Title }} {{ end }}
      </header>

      <!-- Contents -->
      {{ block "main" . }} {{ end }}

      <!-- Footer -->
      <footer>
        {{ block "footer" . }} {{ partial "default-footer" . }} {{ end }}
      </footer>
    </div>
    <script src="/js/medium-zoom.min.js"></script>
    <script>
      // This seems to be robust enough without me having to make every
      // image a figure with a caption.
      mediumZoom("article img, figure img", {
        background: "#00000050",
        margin: 20,
      });
    </script>
  </body>
</html>
