<!DOCTYPE html>
<html lang="{{or .Params.language .Lang}}">
  <head>
    {{ partial "head" . }}
    <link
      rel="alternate"
      type="application/atom+xml"
      href="/feed.xml"
      title="Atom Feed"
    />
  </head>
  <body>
    <div class="outer">
      <!-- Header -->
      <header>
        {{ block "header" . }} {{ partial "avatar" .Title }} {{ end }}
      </header>

      <!-- Contents -->
      {{ block "main" . }} {{ end }}

      <!-- Footer -->
      <footer>
        {{ block "footer" . }} {{ partial "default-footer" . }} {{ end }}
      </footer>
    </div>
  </body>
</html>
