{{ define "header" }}
<!-- prettier-ignore -->
{{ partial "avatar" .Title }}
{{ partial "heading" .Title }}
<!-- prettier-ignore -->
{{ with .Param "subtitle" }}
<h2 class="mt-0 mb-8">{{.}}</h2>
{{ end }}
<hr />
<dl class="meta">
  {{ with .Date }}
  <div>
    <dt>{{ partial "func-translate" (dict "id" "Published" "page" $)}}</dt>
    <dd>{{ partial "date" . }}</dd>
  </div>
  {{ end }}
  <!-- prettier-ignore -->
  {{ with .Lastmod }}
  <div>
    <dt>
      <!-- If old versions are available, link there. -->
      {{ with $.GetPage (printf "/archive/%s" $.File.BaseFileName) }}
      <a title="View revision history" class="out" href="{{.Permalink}}"
        >Updated</a
      >
      {{ else }}
      <span>Updated</span>
      <!-- with $.GetPage -->
      {{ end }}
    </dt>
    <dd>{{ partial "date" . }}</dd>
  </div>
  {{ end }}
  <!-- prettier-ignore -->
  {{ with .GetTerms "tags" }}
  <div>
    <dt>Tags</dt>
    <dd>{{ range . }} {{ partial "tag" . }} {{ end }}</dd>
  </div>
  {{ end }}
  <!-- prettier-ignore -->
  {{ range .GetTerms "series" }}
  <div>
    <dt>Series</dt>
    <dd><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></dd>
  </div>
  {{ end }}
</dl>
<!-- prettier-ignore -->
{{ end }}

{{ define "main" }}
<!-- prettier-ignore -->
{{ if .Params.toc }}
{{ partial "toc" . }}
{{ end }}

{{ partial "content" . }}
{{ end }}

{{ define "footer" }}
<!-- prettier-ignore -->
{{ if (eq .Type "blog") }}
{{ partial "post-navigation" . }}
{{ end }}

{{ end }}
