{{ define "header" }} {{ partial "avatar" . }}
<!-- prettier-ignore -->
{{ partial "heading" (dict "title" .Title
                           "enableTypePath" true
                           "ctx" .) }}
{{ with (and (not (.Param "special")) .Date) }}
<div class="-mt-4">{{ partial "date" . }}</div>
{{ end }}
<!-- prettier-ignore -->
{{ with .Param "subtitle" }}
<h2 class="mt-0 mb-8">{{.}}</h2>
{{ end }} {{ with .GetTerms "tags" }}
<div class="meta">{{ range . }} {{ partial "tag" . }} {{ end }}</div>
{{ end }}
<!-- prettier-ignore -->
{{ end }}

{{ define "main" }}
<!-- prettier-ignore -->
{{ if .Params.toc }}
{{ partial "toc" . }}
{{ end }}

{{ partial "content" . }}
{{ end }}

{{ define "footer" }}
<div class="mt-4 mb-20">
  <hr />
  <!-- prettier-ignore -->
  {{ if not (.Param "special") }}
  {{ partial "post-navigation" . }}
  {{ end }}
  {{ partial "default-footer" . }}
</div>
{{ end }}
