{{ define "main" }}
<root>
  {{ .Content }}
  <!-- We use "where" exclude non-blog pages -->
  <!-- {{ range (where .Site.RegularPages "Section" "blog").GroupByParam "language" }}
             <div class="index-language">
             <h1>{{ partial "func-language-code-to-name" .Key }}</h1>
             {{ range (first 5 .Pages) }}
             {{ partial "index-item" . }}
             {{ end }}
             <a href="/language/{{.Key}}.html">{{.Key}}</a>
             </div> -->
  <!-- {{ end }} -->
  <h1>Recent blog posts</h1>
  <ul class="index">
    {{ range (where .Site.RegularPages "Section" "blog") }}
    <li>{{ partial "index-item" . }}</li>
    {{ end }}
  </ul>
</root>
{{ end }}
