{{ define "header" }}
  {{ if (eq .Title "404") }}
    <script type="text/javascript" src="/js/404.js"></script>
  {{ end }}
  {{ partial "main-header" . }}
  {{ if not (.Param "hidetitle") }}
    {{ partial "heading"
      (dict
      "title" .Title
      "enableTypePath" true
      "ctx" .)
    }}
  {{ end }}
  {{ $marginTweak := "-mt-4" }}
  {{ with .Param "subtitle" }}
    <h2 class="{{ $marginTweak }} font-serif">{{ . }}</h2>
    {{ $marginTweak = "" }}
  {{ end }}
  {{ with (and (not (.Param "special")) .Date) }}
    <div class="{{ $marginTweak }} font-serif">{{ partial "date" . }}</div>
  {{ end }}
  {{ if (or (.GetTerms "tags") (.GetTerms "series")) }}
    <div class="meta mb-4 font-serif">
      {{ range (.GetTerms "tags") }}
        {{ partial "tag" . }}
      {{ end }}
      {{ range (.GetTerms "series") }}
        {{ partial "series" . }}
      {{ end }}
    </div>
  {{ end }}
{{ end }}

{{ define "main" }}
  {{ if .Params.toc }}
    {{ partial "toc" . }}
  {{ end }}

  {{ partial "content" . }}
{{ end }}

{{ define "footer" }}
  <div class="mb-20 mt-8">
    <hr class="mb-4" />
    {{ if not (.Param "special") }}
      {{ partial "post-navigation" . }}
    {{ end }}
    {{ partial "default-footer" . }}

    {{ if not (or (eq .Title "404") (.Param "nocomment")) }}
      <div class="block dark:hidden">
        {{ partial "utterances" "github-light" }}
      </div>
      <div class="hidden dark:block">
        <hr />
        {{ partial "utterances" "github-dark" }}
      </div>
    {{ end }}
  </div>
{{ end }}
