<!doctype html>
<head>
  {{ partial "head" . }}
  {{ partial "poems-font" . }}
</head>
<body class="bg-dropd text-primary-dark">
  <main class="mx-auto mt-8 md:w-[40rem]">
    <a href="/" class="link block text-xl font-bold">
      {{ .Title }}
      <img
        class="float-right inline-block max-h-8 align-bottom"
        src="/avatar.png"
        alt="avatar"
      />
    </a>
    <div class="mt-4">
      {{ partial "content" . }}


      <!-- Pages -->
      {{ with (sort (where .Pages "Section" "poems") "Date" "desc") }}
        <ul>
          {{ range . }}
            {{ if not (.Param "special") }}
              <li>
                <a
                  class="hover flex justify-between text-primary-dark"
                  href="{{ .Permalink }}"
                >
                  <span>{{ .Title }}</span>
                  <span>{{ time.Format "2006-01-02" .Date }}</span>
                </a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </main>
</body>
