<!doctype html>
<head>
  {{ partial "head" . }}
  {{ partial "poems-font" . }}
</head>
<body class="bg-dropd text-primary-dark">
  <main class="m-4 md:mx-auto md:mt-8 md:w-[30rem]">
    <a href="/poems" class="link block text-xl font-bold">
      {{ .Title }}
      <img
        class="float-right inline-block max-h-8 align-bottom"
        src="/avatar.png"
        alt="avatar"
      />
    </a>
    <div class="">
      <div>{{ time.Format "2006-01-02" .Date }}</div>
    </div>
    {{ .Content }}
  </main>
</body>
